.featuredPortfolio{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.text{
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
} 
.text p{
    font-weight: 200;
    color: #53b82c;
}
.image{
    width: 23rem;
    border-radius: 10px;
    box-shadow: rgba(50, 93, 68, 0.315) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.image:hover{
    scale: 1.15;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}
.portfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content:space-evenly;
}
@media screen and (max-width:786px){
    .image{
        width: 100%;
    }
}