.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  margin: 0 10px;
}

.link + span {
  background-color: #53b82c;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.container_links{
  display: flex;
  flex-direction: row;
  align-items: center;
}