.heading{
    font-size: 3rem;
    color:#bbb;
    margin: 2rem 0;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    align-items: start;
    /* align-items: center; */
}
.content{
    flex: 1;
}
.form{
    flex:1; 
    margin:2rem 0
}
.dashboard h3{
    color: #53b82c;
    margin-bottom:2rem;
}
.formPost{
    display: flex;
    flex-direction: column;
}
.formPost button{
    background-color: #53b82c;
    color: white;
    /* font-size: 18px; */
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.formPost input{
    font-size: 18px;
    padding: 10px;
    border: none;
    background-color: transparent;
    outline: none; 
    border: 2px solid #bbb;
    margin-bottom: 1rem;
    border-radius: 5px;
    color: #bbb;
} 
.formPost textarea{
    font-size: 18px;
    padding: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    border: 2px solid #bbb;
    margin-bottom: 1rem;
    color:#bbb;
    border-radius: 5px;
}
.post{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}
.imgContainer{
    object-fit: cover;
}

.contentText{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.contentText span{
    color: red;
    padding: 1rem;
    cursor: pointer;
}
@media only screen and (max-width: 786px) {
    .container{
        display: flex;
        /* flex-direction: column-reverse; */
        align-items: center;
        gap: 2rem;
    }
}