 .imgContainer{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
    margin:3rem 0;
 }
 .imgContainer img{
    flex: 1;
    object-fit: cover;
 } 
 .content{
    flex: 2;
 } 
 @media only screen and (max-width: 786px) {
   .imgContainer{
      display: flex;
      flex-direction: column;
      gap: 2rem;
   }
 }