.content{
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.content h1{
    font-size: 2.5rem;
    font-weight: bold;
}
.content span{
    font-size: 2.5rem;
    font-weight: 200;
}
.slider div{
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(255, 24, 24);
}